.mercury{
background-color: aliceblue;
}
.venus {
background-color: antiquewhite;
}
.earth{
background-color: aqua;
}
 .mars{
background-color: beige;
 }
.jupiter{
background-color: burlywood;
}
.saturn {
background-color: brown;
}
.uranus{
background-color: blueviolet;
}
.neptune{
 background-color: azure;   
}